/*Color Palette
#b7a8af Mauve
#0c483e emerald
#f4ddd5 Champagne
#52303f Sangria
#c48f7f Rose Gold
#222d44 Lunar Blue
*/

/* Global Styles
---------------------------------------------*/
html{
	box-sizing: border-box;
}
*, *:before, *after{
	box-sizing: inherit;
}

body{
	color: #000000;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 1.5;
	word-wrap: break-word;
}

img{
	width: 300px;
}

a{
    color: #ffffff;
}

a:hover{
    text-decoration: none;
}

h1, h2{
	font-family: 'Indie Flower', cursive;
	margin: 0;
}

h1{
	font-size: 100px;
	text-align: center;
	text-shadow: 4px 4px 4px #aaa;
}

h2{
	font-size: 42px;
	font-weight: 400;
}

.wrapper{
	width: 800px;
	margin: 0 auto;
	padding: 60px 0;
}

/* Profile
---------------------------------------------*/
header{
    background: #52303f;
    color: #ffffff;
}

/* Projects
---------------------------------------------*/
.projects{
    background: #f4ddd5;
}

.projects a{
    color: #222d44;
}

.projects .btn{
	color: #ffffff;
	background: #222d44;
	padding: 8px;
	border-radius: 4px;
	display:inline-block;
}

.projects .btn:hover{
	background: rgba(34, 45, 68, 80%);
}

.item{
	overflow: hidden;
	border-bottom: 1px dotted #000000;
	padding: 25px 0;
}

.item img{
	float: left;
	margin-right: 20px;
}

.item h3{
	margin: 0;
}

/* Work Experience
---------------------------------------------*/
.work-experience{
    background: #c48f7f;
}

/* Education
---------------------------------------------*/
.education{
    
}

/* Contact Info
---------------------------------------------*/
footer{
    background: #222d44;
    color: #ffffff;
}