/*Color Palette
#b7a8af Mauve
#0c483e emerald
#f4ddd5 Champagne
#52303f Sangria
#c48f7f Rose Gold
#222d44 Lunar Blue
*/

/* Global Styles
---------------------------------------------*/
body{
    color: #000000;
}

img{
    width: 300px;
}

a{
    color: #ffffff;
}

a:hover{
    text-decoration: none;
}

/* Profile
---------------------------------------------*/
header{
    background: #52303f;
    color: #ffffff;
}

/* Projects
---------------------------------------------*/
.projects{
    background: #f4ddd5;
}

.projects a{
    color: #222d44;
}

.projects .btn{
    color: #ffffff;
    background: #222d44;
    padding: 8px;
    border-radius: 4px;
}

.projects .btn:hover{
    background: rgba(34, 45, 68, 80%);
}

/* Work Experience
---------------------------------------------*/
.work-experience{
    background: #c48f7f;
}

/* Education
---------------------------------------------*/
.education{
    
}

/* Contact Info
---------------------------------------------*/
footer{
    background: #222d44;
    color: #ffffff;
}